.error-msg {
  color: #f50;
  padding-left: 10px;
}

.tabBar{
  height: 50px;
  position: fixed;
  bottom: 0;
  width:100%
}

.fixd-header, .am-navbar {
  position: fixed;
  top:0;
  width:100%;
}

.page-content{
  padding:45px 5px
}

#chat-page .chat-me .am-list-extra {
  flex-basis: auto
}

#chat-page .chat-me .am-list-content{
  padding-right: 15px;
  text-align: right;
}

.stick-footer{
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}